div(ng-controller="HomeController")
    h2 TDIN WAREHOUSE
    p(ng-if="data.books.length === 0") No pending orders
    div(ng-if="data.books.length > 0")
        p Pending orders:
        ul
            li(ng-repeat="book in data.books")
                p(ng-bind="::book.name")
                small Quantity: 
                small(ng-bind="::book.missing")
                br
                button(ng-click="fulfill(book)") Fulfill Order
                br
                br
                br
