doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title TDIN Warehouse
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.min.css')
    body(ng-app='tdin-store')
        ui-view
        script(src='js/main.js')
        script(src='js/templates.js')
