div(ng-controller="AdminController")
    h2 ADMIN TDIN STORE
    p(ng-bind="::data.user.name")
    button(ng-click="logout()") Logout
    br
    br
    br
    ul
        li(ng-repeat="book in data.books", ng-if="book.to_arrive > 0")
            small To arrive: 
            small(ng-bind="::book.to_arrive")
            p(ng-bind="::book.name")
            button(ng-click="confirmDelivery(book)") Confirm Delivery
            br
            br
            br
    h3 Make Order
    p Select user:
    select(ng-model="data.order.user" ng-options="user as user.name for user in data.users")
    p Select Book:
    select(ng-model="data.order.book" ng-options="book as book.name for book in data.books")
    p Amount
    input(type="text", ng-model="data.order.quantity")
    p(ng-if="data.order.book")
        | Price:
        span(ng-bind="orderValue()")
    button(ng-click="order()") Order
