div(ng-controller="HomeController")
    h2 TDIN STORE
    p(ng-bind="::data.user.name")
    button(ng-click="viewOrders()") View Orders
    button(ng-click="logout()") Logout
    ul
        li(ng-repeat="book in data.books", ng-if="book.stock > 0")
            small Stock: 
            small(ng-bind="::book.stock")
            small  Price: 
            small(ng-bind="::book.price")
            p(ng-bind="::book.name")
            button(ng-click="selectBook(book)") Select
            br
            br
            br
    div(ng-if="data.order.book")
        p(ng-bind="data.order.book.name")
        input(type="text", ng-model="data.order.amount")
        button(ng-click="order()") Order
