div(ng-controller="LoginController")
    h3 Login
    form
        input(type="text", placeholder="Username", ng-model="data.username")
        input(type="password", placeholder="Password", ng-model="data.password")
        button(ng-click="login()") Login
