div(ng-controller="OrdersController")
    h2 TDIN STORE
    h3 Orders
    button(ng-click="viewProducts()") View Products
    button(ng-click="logout()") Logout
    ul
        li(ng-repeat="order in data.orders")
            p Amount 
                span(ng-bind="::order.amount")
            p
                span(ng-bind="::order.status")
                br
                small(ng-bind="::order._id")
            br
            br
            br
